<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/components/login.css">

    <title>BlackJack Mastery</title>
</head>

<body>
    <h1>BlackJack Mastery</h1>
    <section class="login_section">
        <div class="login_container">
            <h3>Login</h3>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <form action="/login" method="POST"> 
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Play!</button>
            </form>
            

            <h4>New player? <a href="/register">Sign up!</a></h4>
            <h5><a href="/">Play as Guest</a></h5>

          
        </div>
    </section>


    <script type="module" src="/src/main.js"></script>
</body>

</html>

<!-- <h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a> -->
