.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: var(--clr-light);
    border: 4px solid var(--clr-darkred);
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
}

.tab {
    display: none;
}


.tab.active {
    display: block;
}

/* header difficulty buttons */
.choiceBtn {
    width: 30%;
    border: 2px solid var(--clr-darkred);
}

/* difficulty button container */
.choice_container {
    display: flex;
    justify-content: space-evenly;
}

/* container of the descriptions of difficulties */
.diff_popup_container {
    border: 3px solid var(--clr-darkred);
    border-radius: 25px;
    height: 70%;
    padding: 5px;
    margin: 12.5px;
}

/* X button */
.close_button {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
	padding: 5px;
    font-size: calc(15px + 1vw);
    align-self: center;
}

.close_button:hover {
	background-color: #d6440b;
}


