
.login_container {
    border: 3px solid var(--clr-darkred);
    border-radius: 10px;
    text-align: center;
    padding: 30px;

}

.login_section {
    display: flex;
    height: 60vh; 
    align-items: center;
    justify-content: center;
}





/* md */
@media (min-width: 768px) {
    .login_container {
        padding: 100px;
    }
    
    .login_section {
        height: 80vh; 
    }
}



