

.dropdown {
   
    border-radius: 10px;
    z-index: 1;
}


.navbar_container {
    position: relative;
    top: -500px;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    border: 3px solid var(--clr-darkred);
    border-radius: 10px;
    transition: 0.3s;

}

.navbar_attribute {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
    color: black;
}

.navbar_container.show_navbar {
    top: 0px;
    transition: 0.3s;
    background-color: var(--clr-slate400);
    opacity: 0.6;
}

.overlay {
    display: fixed;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.overlay.active {
    display: fixed;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);   
    /* mix-blend-mode: darken; */
    transition: 0.2s;
    z-index: 99;
}

.player_total.active, .dealer_total.active {
    font-size: 0;
}

.player_total, .dealer_total {
    font-size: var(--size--base);
}

img.active, .decision_button.active, .table_difficulty_button.active, .hamburger_button.active {
    transition: 0.2s;
    opacity: 0;
}

.decision_button.active, .table_difficulty_button.active, .hamburger_button.active {
    pointer-events: none;
}

.decision_button, .table_difficulty_button, .hamburger_button {
    pointer-events: all;
}



