.signup_container {
    max-width: 500px;
    border: 3px solid var(--clr-darkred);
    border-radius: 10px;
    text-align: center;
    padding: 30px;

}

.signup_section {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}


/* xs */
/* @media (min-width: 320px) {
   
} */

/* sm */
/* @media (min-width: 425px) {
   
} */

/* md */
@media (min-width: 768px) {
    .signup_container {
        padding: 100px;
    }
    
    .signup_section {
        height: 80vh;
    }
}

/* lg */
/* @media (min-width: 1024px) {
    
} */

/* xl */
/* @media (min-width: 1440px) {
   
} */